<h1 class="trust_header"> Investment Trust </h1>
<div class="desc">
	<p class="trust_des"> Description </p>
	<p style="color:#0D6F7A ;"> Funds investments in the stock market<br>
	 or other areas that take time to garner returns. <br>
	 These are investments that allow you to sit back and watch grow. <br>
	 You'll always be happy you planted these.<br>
	</p>
</div>	
<% @my_invest = Investment.where(user_id: current_user.id) %>
<% if @my_invest.empty? %>
<div class="c_b">
<h3 class="curr_bal"> Current Funds Available for Investments </h3>
<h1 class="curr_b">Please Update Your Balance to Add Funds </h1>
</div>

<div class="past_b">
<h4 class="past_bal"> Past Balances </h4>

</div>

<% else %>
<div class="c_b">
<h3 class="curr_bal"> Current Funds Available for Investments </h3>
<h1 class="curr_b">$ <%= @my_invest.last.available_balance  %> </h1>
</div>


<div class="past_b">
<h4 class="past_bal"> Past Balances </h4>
<div class="past_holder">
<% @my_invest.each do |invest| %>
	<div class="past_balances">
		<p class="p_b"><%= invest.created_at.strftime("%b %d, %Y")%></p>
		<p class="p_b p_b_amt">$ <%=  invest.available_balance %></p>
	</div>
<% end %>
</div>
</div>
<% end %>
