<h4 class="form-header"> REPORT TRANSACTION </h4>
<%= form_for(:invest, url: report_invest_transaction_path) do |f| %>

      <label>
		<%= f.text_field :amount_spent,:required => true %> 
		<div class="label-text" > Amount Spent </div>
	  </label>

	  <label>
		<%= f.select :type_of_spending, ['Stocks', 'Bonds', 'Hedge Fund', 'Unit Linked Investment Plan', 'Equity Funds', 'Public Provident Fund', 'Mutual Funds', 'Gold', 'Real Estate', 'Other'
		 ], :class => "select_spending"  %>
	  </label>

	   <%= f.submit "Save" %>


<% end %>