<% @my_billLogs = BillLog.where(user_id: current_user.id) %>
<% @prev = @my_billLogs.first %>
<% @my_billLogs.each do |m_b| %>

<div class= "past_balances">
	<p class= "reported_trans"> Previous Balance - $ <%= @prev.updated_balance %></p>
	<p class="reported_trans"> Date Posted - <%= m_b.date_posted.strftime("%b %d, %Y") %> </p>
	<p class="reported_trans"> Amount Spent - $ <%= m_b.amount_spent %></p>
	<p class="reported_trans"> Type of Purchase - <%= m_b.type_of_spending %></p>
	<p class="reported_trans"> Balance - $ <%= m_b.updated_balance %></p>
</div>
<% @prev = m_b %>
<% end %>