<% @my_enrichLogs = EnrichmentLog.where(user_id: current_user.id) %>
<% @e = @my_enrichLogs.first %>
<% @my_enrichLogs.each do |e| %>
<div class= "past_balances">
	<p class= "reported_trans"> Previous Balance - $ <%= @e.updated_balance %></p>
	<p class="reported_trans"> Date Posted - <%= e.date_posted.strftime("%b %d, %Y") %> </p>
	<p class="reported_trans"> Amount Spent -$ <%= e.amount_spent %></p>
	<p class="reported_trans"> Type of Purchase - <%= e.type_of_spending %></p>
	<p class="reported_trans"> Balance - $ <%= e.updated_balance %></p>
</div>
<% @e = e %>
<% end %>