<div class="form-center" id="form-login">
<h4 class="form-header"> LOGIN </h4>
<%= form_for(:session, url: login_path) do |f| %>

      <label>
		<%= f.email_field :email,:required => true %> 
		<div class="label-text" > Email </div>
	  </label>

     
      <label>
			<%= f.password_field :password, :required => true %>
			<div class="label-text" > Password </div>
	  </label>

	  <%= f.label :remember_me, class: "checkbox inline" do %>
  		<%= f.check_box :remember_me %>
 		<span>Remember me on this computer</span>
	  <% end %>

	  <div id="forgot"> <%= link_to "(forgot password)", new_password_reset_path %></div>
      <%= f.submit "Log in" %>
    <% end %>
</div>