<% @my_pLogs = PhilanthropyLog.where(user_id: current_user.id) %>
<% @p = @my_pLogs.first %>
<% @my_pLogs.each do |p| %>
<div class= "past_balances">
	<p class= "reported_trans"> Previous Balance - $ <%= @p.updated_balance %></p>
	<p class="reported_trans"> Date Posted - <%= p.date_posted.strftime("%b %d, %Y") %> </p>
	<p class="reported_trans"> Amount Spent -$ <%= p.amount_spent %></p>
	<p class="reported_trans"> Type of Purchase - <%= p.type_of_spending %></p>
	<p class="reported_trans"> Balance -$ <%= p.updated_balance %></p>
</div>
<% @p = p %>
<% end %>