<% provide(:title, 'Reset password') %>
<h1 class="form-header">Reset password</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= hidden_field_tag :email, @user.email %>
      <label>
      	<%= f.password_field :password, class: 'form-control' %>
      	<div class="label-text" > Password </div>
	   </label>

      <label>
      	<%= f.password_field :password_confirmation, class: 'form-control' %>
      <div class="label-text" > Password </div>
	  </label>

      <%= f.submit "Update password"%>
    <% end %>
  </div>
</div>
