<% provide(:title, "Forgot password") %>
<h1 class="form-header">Forgot password</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
        <label>
			<%= f.email_field :email,:required => true %> 
			<div class="label-text" > Email </div>
	  	</label>

      <%= f.submit "Submit" %>
    <% end %>
  </div>
</div>
