<div class="form-center" id="form-login">
<h4 class="form-header"> CURATOR </h4>
<%= form_for(:curator_session, url: curate_path) do |f| %>

      <label>
		<%= f.email_field :username,:required => true %> 
		<div class="label-text" > username </div>
	  </label>

     
      <label>
			<%= f.password_field :password, :required => true %>
			<div class="label-text" > Password </div>
	  </label>

      <%= f.submit "Log in" %>
    <% end %>
</div>
