<h3> Hello <%= @user.firstname %></h3>

<p> Welcome to MoneyPro, your Personal Financial Assistant. 
To get started, we just need to make sure you created this account. </p>

<p>Please click the link below to verify that you created this account.</p>

<%= link_to "Confirm Account", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>