Hello <%= @user.firstname %>

Welcome to MoneyPro, your Personal Financial Assistant. 
To get started, we just need to make sure you created this account. 

Please click the link below to verify that you created this account.

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>

