<div class="form-center">
<h4 class="form-header"> Add Instruction </h4>

<%= form_for :fa, url: financial_assistant_path do |f| %>

<label>
<%= f.text_field :note,:required => true %>
<div class="label-text" > Instruction </div>
</label>

<label>
<%= f.text_field :numbered_value,:required => true %>
<div class="label-text" > Instruction Number </div>
</label>

	  <label>
		<%= f.select :action, [ 
		'orientation_message', 'reminder', 'suggestion' 
		 ] %>
	  </label>


<%= f.submit "Update Instruction" %>

<% end %>
</div>