<div class="form-center">
<h4 class="form-header"> Add Instruction </h4>

<%= form_for :fa, url: fa_path do |f| %>

<label>
<%= f.text_area :note,:required => true,  :placeholder => "Instruction..."%>
</label>

<label>
<%= f.text_field :numbered_value,:required => true %>
<div class="label-text" > Instruction Number </div>
</label>

	  <label>
		<%= f.select :action, [ 
		'orientation_message', 'reminder', 'suggestion' 
		 ] %>
	  </label>


<%= f.submit "Add Instruction" %>

<% end %>
</div>

<p><%= link_to "Dashboard", current_curator %></p>