
<div id="all_users">
	<p class="curator_parag"> View content for all users </p>
		<% @users.each do |u| %>
		<div class="show_all_users">
			<%= u.email %><br>
		</div>
		<% end %>
</div>

<div id="all_fa">
	<p><%= link_to "Add_Instruction", new_financial_assistant_path %></p>
	
	<% @instructions.each do |f| %>
	<div class="fa_curator">
		<p> Instruction - <%= f.note %></p>
		<p> Number - <%= f.numbered_value %></p>
		<p> Action - <%= f.action %></p>
		<p><%= link_to "Edit", edit_financial_assistant_path(f) %>
		<%= link_to "Destroy", financial_assistant_path(f), method: :delete%></p>
	</div>
	<% end %>
</div>

<%= link_to "Log out", close_path, method: :delete %>