<div id="current_balance">
	<div id="balance">
		<h1 class="header_curr"> Current Balance </h1>
		<% @my_B = Balance.where(user_id: current_user.id) %>
		<% if @my_B.empty? %>

			<h2 class="header_curr" style="padding-left: 15px;">$ 0 </h2>
		<% else %>

			<h2 class="header_curr" style="padding-left: 15px;">$ <%=  @my_B.last.available_balance  %></h2>
		<% end %>

	</div>

	<div id="seventy_trust">
		<%= link_to image_tag("seven.png" , alt: "login", width: 200, height: 199, :id => 'seventy')%>
		
	<div id="necess_available">
		<h4> Necessities </h4>
		<% @my_nec = Necessity.where(user_id: current_user.id) %>
		<% if @my_nec.empty? %>
			<p class="avail_bal" id="navail">$ 0  </p>
		<% else %>

			<p class="avail_bal" id="navail">$ <%= @my_nec.last.available_balance %>  </p>
				<div class="tooltip">
			<span class="tooltiptext"> Report Transactions to your Necessities Trust</span>
		</div>
		<% end %>
	</div>

		<div id="bill_available">
		<h4> Bills </h4>
		<% @my_bills = Bill.where(user_id: current_user.id) %>
		<% if @my_bills.empty? %>
			<p class="avail_bal" id="bavail"> $ 0 </p>
		<% else %>
		<p class="avail_bal" id="bavail"> $ <%= @my_bills.last.available_balance %>  </p>
		<% end %>
	</div>

	<div id="enrich_available">
		<h4> Enrichment </h4>
		<% @my_enr = Enrichment.where(user_id: current_user.id) %>
		<% if @my_enr.empty? %>
			<p class="avail_bal" id="eavail">$ 0</p>
		<% else %>
			<p class="avail_bal" id="eavail">$ <%= @my_enr.last.available_balance %></p>
		<% end %>
	</div>

	<div id="daily_available">
		<h4> Daily Whims </h4>
		<% @my_dailies = Whim.where(user_id: current_user.id) %>
		<% if @my_dailies.empty? %>
			<p class="avail_bal" id="davail"> $ 0 </p>
		<% else %>
			<p class="avail_bal" id="davail">$ <%= @my_dailies.last.available_balance %> </p>
		<% end %>
		
	</div>


	</div>

	<hr  id="line">

	<div id="thirty_trust">
		<%= link_to image_tag("thirt.png", :id => 'thirty' ) %>
		<div id="lt_available">
		<h4> Long Term Investment </h4>
		<% @my_invest = Investment.where(user_id: current_user.id) %>
		<% if @my_invest.empty? %>
			<p class="avail_bal" id="ltavail"> $ 0</p>
		<% else %>
			<p class="avail_bal" id="ltavail"> $ <%= @my_invest.last.available_balance %> </p>
		<% end %>
		
	</div>

	<div id="phil_available">
		<h4> Philanthropy </h4>
		<% @my_philan = Philanthropy.where(user_id: current_user.id) %>
		<% if @my_philan.empty? %>
			<p class="avail_bal" id="phavail">$ 0 </p>
		<% else %>
			<p class="avail_bal" id="phavail">$ <%= @my_philan.last.available_balance %> </p>
		<% end %>
</div>

	<div id="save_available">
		<h4> Savings + Security </h4>
		<% @my_savings = Security.where(user_id: current_user.id) %>
		<% if @my_savings.empty? %>
			<p class="avail_bal" id="savail"> $ 0 </p>
		<% else %>
			<p class="avail_bal" id="savail">$ <%= @my_savings.last.available_balance %>  </p>
		<% end %>
	</div>


	</div>


</div>