<h1 class="trust_header"> How It Works </h1>
<%= image_tag("moneyprohiw-01.png", alt: "expand", width: 455, height: 284,  :id => 'hiw_img') %>
<div id="hiw-calculate">
	<p  style="color:#0D6F7A;"> Take 70% of your current balance </p>
	<% @my_curr = Balance.where(user_id: current_user.id) %>
		<% if @my_curr.empty? %>
			<h2 class="header_curr" style="padding-left: 15px;"></h2>
		<% else %>
			<h2 class="header_curr" style="padding-left: 15px;">$ 0.70 * <%=  @my_curr.last.available_balance  %></h2>
			<p style="color:#0D6F7A; font-size: 1.32em;">  $ <%= @seven_trust = 0.70 * @my_curr.last.available_balance.to_f %> </p>
		<% end %>
	</div>

	<div id="hiw-calculate-thirty">
	<p style="color:#0D6F7A;"> Takes 30% of your current balance </p>
	<% @my_curr = Balance.where(user_id: current_user.id) %>
		<% if @my_curr.empty? %>
			<h2 class="header_curr" style="padding-left: 15px;"></h2>
		<% else %>
			<h2 class="header_curr" style="padding-left: 15px;"> $ 0.30 * <%=  @my_curr.last.available_balance  %></h2>
			<p style="color:#0D6F7A; font-size: 1.2em;"> $ <%= @thirty_trust= 0.30 * @my_curr.last.available_balance.to_f %> </p>
		<% end %>
	</div>


<div id="hiw-explanation">
	<% if @seven_trust.nil? %>

		<p style="color:#C64427;" > 70% of the current balance is paid of to the Necessities, Bills, Enrichment and Daily Whims Trust. Each trust receives 1/4th. This amount benefits any needs associated with that trust.</p>
		<p style="color:#C64427;" > 30% of the current balance is paid of to the Long Term Investments, Capital + Philanthropy and Savings + Security Trust. Each trust receives 1/3rd. This amount benefits any needs associated with that trust.</p>
	    <p style="color:#C64427;" > Moving money from one trust to another is considered INCOME and <br>
		must be processed by updating the balance and have the amount<br> processed through the 70-30 principle.</p>


	<% else %>
	<p style="color:#C64427;" > $ <%= @seven_trust %> is paid of to the Necessities, Bills, Enrichment and Daily Whims Trust. Each trust receives $ <%= 0.25 * @seven_trust %>. This amount benefits any needs associated with that trust.</p>
		<p style="color:#C64427;" >$ <%= @thirty_trust %> is paid of to the Long Term Investments, Capital + Philanthropy and Savings + Security Trust. Each trust receives $ <%= 0.33 * @thirty_trust%>. This amount benefits any needs associated with that trust.</p>
	    <p style="color:#C64427;" > Moving money from one trust to another is considered INCOME and <br>
		must be processed by updating the balance and have the amount<br>
		process through the 70-30 principle. </p>
		<% end %>
</div>