<div class="form-center">
<h4 class="form-header"> CREATE ACCOUNT </h4>

<%= form_for :user, url: users_path, :html => {:id => 'payment-form' } do |f| %>

<label>
<%= f.text_field :firstname,:required => true %>
<div class="label-text" > Firstname </div>
</label>

<label>
<%= f.text_field :lastname,:required => true %>
<div class="label-text" > Lastname </div>
</label>

<label>
<%= f.email_field :email,:required => true %> 
<div class="label-text" > Email </div>
</label>

<label>
<%= f.password_field :password, :required => true %>
<div class="label-text" > Password </div>
</label>

<label>
<%= f.password_field :password_confirmation, :required => true %>
<div class="label-text" > Password Confirmation </div>
</label>

<div class="form-row">
    <label for="card-element" style="color:#5f9ea0;">
      $10.99 Monthly Subscription 
    </label>
    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors. -->
    <div id="card-errors" role="alert"></div>
  </div>


<%= f.submit "Activate Account" %>

<% end %>
</div>


<script>
    var dataK ="<%= Rails.configuration.stripe[:publishable_key] %>"
    var stripe = Stripe(dataK);
    var elements = stripe.elements();
    var style = {
      base: {
    // Add your base input styles here. For example:
      fontSize: '12px',
      color: "#A08E97", 
      fontFamily: "'Krub', sans-serif",
      letterSpacing: '3px',    
      },
      invalid: {
        color: '#fa755a',
        iconColor: '#fa755a'
      }
  };

// Create an instance of the card Element.
 var card = elements.create('card', {style: style});

  // Add an instance of the card Element into the `card-element` <div>.
 card.mount('#card-element');

 card.addEventListener('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});

 var form = document.getElementById('payment-form');
 form.addEventListener('submit', function(event) {
  event.preventDefault();

    stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the customer that there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server.
      stripeTokenHandler(result.token);
    }
  });
 });

 function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);


  // Submit the form
  form.submit();
}


  </script>


