<% provide(:title, "Dashboard") %>
<div id="dash-content">

	<div id="dash-options">
		<%= link_to image_tag("moneydash-01.png", alt: "login", width: 200, height: 60 ), current_user %>

		<h3 style="font-family: 'Zeyada', cursive; color: white; padding: 15px;font-size: 1.5em;"> <%= current_user.firstname %>'s financial assistant </h3>
	<div class="dash-board">
		<p class="dash-links" id="current"> Current </p>
		<p class="dash-links" id="hiw"> How it works </p>
		<p class="dash-links" id="neces"> Necessities Trust </p>
		<p class="dash-links" id="bills"> Bills Trust </p>
		<p class="dash-links" id="enrich"> Enrichment Trust </p>
		<p class="dash-links" id="daily"> Daily Whims Trust</p>
		<p class="dash-links" id="long_term"> Long Term Investments Trust</p>
		<p class="dash-links" id="philan"> Philantropy Trust</p>
		<p class="dash-links" id="security"> Savings+Security Trust</p>
	</div>
	 <%= link_to image_tag("moneyprologout-01.png", alt: "login", width: 43, height: 78,  :id => 'logout'), logout_path, method: :delete %>
	 <p class="dash-links" id="logout-p"> LogOut </p>
	</div>


	 <%= image_tag("moneyproout-01.png", alt: "expand", width: 40, height: 40, :class => "close-img", :id => 'close_nec') %>
	 <%= image_tag("moneyproout-01.png", alt: "expand", width: 40, height: 40, :class => "close-img", :id => 'close_bill') %>
	 <%= image_tag("moneyproout-01.png", alt: "expand", width: 40, height: 40, :class => "close-img", :id => 'close_enrich') %>
	 <%= image_tag("moneyproout-01.png", alt: "expand", width: 40, height: 40, :class => "close-img", :id => 'close_daily') %>
	 <%= image_tag("moneyproout-01.png", alt: "expand", width: 40, height: 40, :class => "close-img", :id => 'close_long') %>
	 <%= image_tag("moneyproout-01.png", alt: "expand", width: 40, height: 40, :class => "close-img", :id => 'close_phil') %>
	 <%= image_tag("moneyproout-01.png", alt: "expand", width: 40, height: 40, :class => "close-img", 
	 :id => 'close_save') %>
	 <%= image_tag("moneyproout-01.png", alt: "expand", width: 40, height: 40, :class => "close-img", 
	 :id => 'close_hiw') %>

	 <%= image_tag("moneyproout-01.png", alt: "expand", width: 40, height: 40, :class => "main-imgs", :id => 'expandh') %>
	 <%= image_tag("moneyproout-01.png", alt: "expand", width: 40, height: 40, :class => "main-imgs", :id => 'expandn') %>
	 <%= image_tag("moneyproout-01.png", alt: "expand", width: 40, height: 40, :class => "main-imgs", :id => 'expandb') %>
	 <%= image_tag("moneyproout-01.png", alt: "expand", width: 40, height: 40, :class => "main-imgs", :id => 'expande') %>
	 <%= image_tag("moneyproout-01.png", alt: "expand", width: 40, height: 40, :class => "main-imgs", :id => 'expandd') %>
	 <%= image_tag("moneyproout-01.png", alt: "expand", width: 40, height: 40, :class => "main-imgs", :id => 'expandl') %>
	 <%= image_tag("moneyproout-01.png", alt: "expand", width: 40, height: 40, :class => "main-imgs", :id => 'expandp') %>
	 <%= image_tag("moneyproout-01.png", alt: "expand", width: 40, height: 40, :class => "main-imgs", :id => 'expands') %>


	<p class="dashOpts" id="bUpdate"> Update Total INCOME </p>
	
	<p class="dashOpts" id="rTransactions"> Reported Transactions </p>	


	<div class="view-balance" id="b"> 
			<div class="update-holder">
			 <h4 class="udapte-header"> Update Total INCOME </h4>
			 <%= render 'balances/update_balance' %>
		 </div>

		 <div class="past-holder">
		 	<div id="reported-header">
		 	<h4 class="past-header"> Balance Update History </h4>
		 </div>
		 	<%= render 'balances/reported_updates' %>
		 </div>
	</div>

	<div class="view-report" id="s"> 
		<div class="report-holder">
			<h4 class="report-header"> Necessities History</h4>
			<div class="report-screen">
				<%= render 'necessity_logs/necessities_log' %>
			</div>
		</div>
		<div class="report-holder">
			<h4 class="report-header"> Bills History</h4>
			<div class="report-screen">
				<%= render 'bill_logs/bill_logs' %>
			</div>
		</div>
		<div class="report-holder">
			<h4 class="report-header"> Enrichment History</h4>
			<div class="report-screen">
				<%= render 'enrichment_logs/enrich_logs' %>
			</div>
		</div>
		<div class="report-holder">
			<h4 class="report-header"> Daily Whims History</h4>
			<div class="report-screen">
			<%= render 'whim_logs/whims_logs' %>
			</div>
		</div>
		<div class="report-holder">
			<h4 class="report-header"> Long Term Investments History</h4>
			<div class="report-screen">
				<%= render 'investment_logs/investment_log' %>
			</div>
		</div>
		<div class="report-holder">
			<h4 class="report-header"> Philanthropy History</h4>
			<div class="report-screen">
				<%= render 'philanthropy_logs/philanthropy_log' %>
			</div>
		</div>
		<div class="report-holder">
			<h4 class="report-header"> Savings+Security History</h4>
			<div class="report-screen">
				<%= render 'security_logs/security_logs' %>
			</div>
		</div>
	</div>

	<div class="viewd default" id="current-view">
		<%= render 'users/current_balances' %>
	</div>

	<div class="views" id="htw-view">
		<%= render 'users/hiw' %>
	</div>
	<div class="detailed_spending" id="necessities_trust_expenditures">
		
	</div>

	<div class="views" id="nec-view">
		<%= render 'necessities/necessities_trust' %>
	</div>

	<div class="detailed_spending" id="bill_trust_expenditures">
</div>

	<div class="views" id="bills-view">
		<%= render 'bills/bill_trust' %>
	</div>

	<div class="detailed_spending" id="enrich_trust_expenditures">
	
</div>

	<div class="views" id="enrich-view">
		<%= render 'enrichments/enrich_trust' %>
	</div>

<div class="detailed_spending" id="whims_trust_expenditures">
	
</div>
	<div class="views" id="daily-view">
		<%= render 'whims/whims_trust' %>
	</div>

	<div class="detailed_spending" id="investment_trust_expenditures">
	
</div>


	<div class="views" id="long-view">
		<%= render 'investments/investment_trust' %>
	</div>
	<div class="detailed_spending" id="philanthropy_trust_expenditures">
	
</div>

	<div class="views" id="philan-view">
		<%= render 'philanthropies/philanthropy_trust' %>
	</div>
<div  class="detailed_spending" id="securities_trust_expenditures">
	
</div>
	<div class="views" id="savings-view">
		<%= render 'securities/securities_trust' %>
	</div>



	<div class="update_trust_amt" id="nec-amt">
		<h4 class="up_trust_header"> Update Necessities Trust </h4>
		<%= render 'necessities/update_necessities_trust' %>
		<button>Close</button>
	</div>

	<div class="update_trust_amt" id="bills-amt">
		<h4 class="up_trust_header"> Update Bills Trust </h4>
		<%= render 'bills/update_bills_trust' %>
		<button>Close</button>
	</div>

	<div class="update_trust_amt" id="enrich-amt">
		<h4 class="up_trust_header"> Update Enrichment Trust </h4>
		<%= render 'enrichments/update_enrich_trust' %>
		<button>Close</button>
	</div>

	<div class="update_trust_amt" id="daily-amt">
		<h4 class="up_trust_header"> Update Daily Whims Trust </h4>
		<%= render 'whims/update_whims_trust' %>
		<button>Close</button>
	</div>
	<div class="update_trust_amt" id="long-amt">
		<h4 class="up_trust_header"> Update Investments Trust </h4>
		<%= render 'investments/update_invest_trust' %>
		<button>Close</button>
	</div>

	<div class="update_trust_amt" id="philan-amt">
		<h4 class="up_trust_header"> Update Philanthropy Trust </h4>
		<%= render 'philanthropies/update_philanthropy_trust' %>
		<button>Close</button>
	</div>

	<div class="update_trust_amt" id="savings-amt">
		<h4 class="up_trust_header"> Update Securities Trust </h4>
		<%= render 'securities/update_security_trust' %>
		<button>Close</button>
	</div>


</div>

<% if @user.first_time %>

<div id="overlay" style="display:block"></div>
	<div class="orientation" id="orient_box" style="display:block">
		<%= render 'financial_assistants/orientation' %>
	</div>
		<div class="fa_box" id="fa_interact" style="display:block">
		<%= render 'financial_assistants/fa_interactive' %>
	</div>

<%= image_tag("moneyproFA-01.png", alt: "expand", width: 130, height: 139, :class => "avatar-img", 
	 :id => 'fa_avatar') %>

	 <% @user.update_attribute(:first_time, false) %>


<% else %>
<div id="overlay"></div>
	<div class="orientation" id="orient_box">
		<%= render 'financial_assistants/orientation' %>
	</div>
		<div class="fa_box" id="fa_interact">
		<%= render 'financial_assistants/fa_interactive' %>
	</div>

<%= image_tag("moneyproFA-01.png", alt: "expand", width: 130, height: 139, :class => "avatar-img", 
	 :id => 'fa_avatar') %>

<% end %>