<h1 class="trust_header"> Bills Trust</h1>
<div class="desc">
		<p class="trust_des"> Description </p>
	<p style="color:#0D6F7A ;"> Funds services rendered by an external source.<br>
	Recurring or onetime amounts paid to someelse for a service is a bill.<br>
	 Examples include phone, internet, electric, insurance, vet, tuition,<br>
	 car service, nanny, house cleaning, landscaping, dog walker, dog nanny.<br>
	  </p>
</div>	
<% @my_bills = Bill.where(user_id: current_user.id) %>
<% if @my_bills.empty? %>
<div class="c_b">
<h3 class="curr_bal">  Current Funds Available for Bill </h3>
<h1 class="curr_b" > Please Update Your Balance to Add Funds </h1>
</div>

<div class="past_b">
<h4 class="past_bal"> Past Balances </h4>

</div>


<% else %>
<div class="c_b">
<h3 class="curr_bal">  Current Funds Available for Bill </h3>
<h1 class="curr_b" > $ <%= @my_bills.last.available_balance %> </h1>
</div>


<div class="past_b">
<h4 class="past_bal"> Past Balances </h4>
<div class="past_holder">
<% @my_bills.each do |bill| %>
	<div class="past_balances">
		<p class="p_b"><%= bill.created_at.strftime("%b %d, %Y") %></p>
		<p class="p_b p_b_amt">$ <%= bill.available_balance %></p>
	</div>
<% end %>
</div>
</div>
<% end %>
