<h4 class="form-header"> REPORT TRANSACTION </h4>
<%= form_for(:bill_log, url: report_bill_transaction_path) do |f| %>

      <label>
		<%= f.text_field :amount_spent,:required => true%> 
		<div class="label-text" > Amount Spent </div>
	  </label>

	  <label>
		<%= f.select :type_of_spending, ['Car Insurance', 'Home Insurance', 'Vet Insurance',
			'Medical', 'Home Repair', 'Landscaping', 'Credit Card', 'Mortgage', 'Loan', 'Gym/Studio Membership', 'Phone', 'Prime', 'Grocery Delivery Service', 'Babysitting', 'Exercise Class', 'iTunes', 'YouTube Membership', 'Tuition', 'HOA', 'Taxes', 'Internet', 'Spa', 'Hair Salon/Barber', 'Other Recurring Membership', 'Other Onetime Service'
		 ], :class => "select_spending"  %>
	  </label>

	   <%= f.submit "Save" %>


<% end %>