<% @my_balances = Balance.where(user_id: current_user.id) %>
<% @allBalances = @my_balances.first %>
<% @my_balances.each do |ba| %>
<div class="past_balances">
	<p class="p_b p_b_amt"> Date - <%= ba.created_at.strftime("%b %d, %Y") %></p>
	<p class="p_b">  Inital Balance - $ <%= @allBalances.available_balance %></p>
	<p class="p_b p_b_amt"> Available Balance -$ <%= ba.available_balance %></p>
</div>
<% @allBalances = ba %>
<% end %>