<div class="form-center" id="update_balance">
<h1 class="header_curr" styel="padding-left: 10px;"> Current Balance </h1>
<% @my_B = Balance.where(user_id: current_user.id) %>
<% if @my_B.empty? %>
<h2 class="header_curr" style="padding-left: 15px;">$ 0 </h2>
<% else %>
<h2 class="header_curr" style="padding-left: 15px;">$<%=  @my_B.last.available_balance%></h2>
<% end %>



<%= form_for(:balance, url: update_path) do |f| %>
      <label>
		<%= f.text_field :available_balance, :required => true %> 
		<div class="label-text" > New Balance </div>
	  </label>

      <%= f.submit "Update Balance" %>
    <% end %>
</div>