<h1 id="blue-p-header"> BlueBerry Pie </h1>

<div id="blue-col">

<p class="mp-blue-p"> Once upon a time like these things often go, there was a land full of Blueberries and the Merry Berries who inhabited it were all patient, kind and everything wonderful about a place one can imagine. One would have thought this was the reality, that was until they met one impatient Merry Berry who was called Sheepy Berry. </p>

<p class="mp-blue-p"> Now, it just so happened that berry picking season was in full swing and every Merry Berry was out picking, eating and baking as many berries are they could pick.</p>

<p class="mp-blue-p"> Sheepy Berry was no different. Sheepy Berry was great at picking all the juicy berries and made some of the best juices one could find. This season Sheepy Berry ached to bake more BlueBerry Pies and that's where this adventure begins. </p>

<p class="mp-blue-p"> As it was berry picking season, baking essentials where in high demand and if one hadn't preordered they would have to wait. Sheepy Berry couldn't allow such a thing. So Sheepy berry went ahead and baked a blueberry pie without flour, butter, cinnanmon or any goodies. Only a baking pan. Needless to say, the berries were a bitter gooey mess.  </p>

<p class="mp-blue-p"> But that did not deter Sheepy Berry. Instead Sheepy Berry set out to the market as many other Merry Berries did and found the flour mill open and there was fresh flour in stock. To say Sheepy Berry was pleased would be an understatement. Sheepy proceeded to purchase quality flour from the mill and in higher spirits popped by the Churning Creamery for some Butter. But alas, butter was in high demand the Churners hands were sore resulting in not enough churned until two days later. </p>


<p class="mp-blue-p"> Sheepy Berry gasped but defiantly returned to the kitchen and kneaded a thing that could have been a crust had it had butter. This pie was worse than before. Had Sheepy Berry shared this pie, everyone would have given up BlueBerry Pies. So Sheepy Berry came to the conclusion that it was time to rest until all the BlueBerry Pie ingredients had been purchased. </p>

<p class="mp-blue-p"> As promised the Churner's hands healed and there was more butter than anyone knew what to do with. Sheepy Berry also purchased the sugar and some good salt from the sea. Even Sheepy Berry's chickens laid enough eggs for the recipe and the lemon truck finally arrived from the Orchards. </p>



<p class="mp-blue-p"> Sheepy Berry finally baked the greatest pie ever eaten, whose recipe was what we have today.  </p>


<p class="mp-blue-p"> Had Sheepy Berry given up or accepted a pie without the correct ingredients, there would be no victory. Moral of the story is to gather all the ingredients and make sure you have enough before making a purchase. </p>
</div>