<h1 id="htw-p-header"> How it works </h1>

<div id="htw-col">

<p class="mp-htw-p"> <strong style="color: #C64427; font-size: 2.5em;">Financial</strong>  success doesn't have to involve depriving yourself of what makes you truly happy. It simply involves having the best practice with money. <strong style="color:#9C3E97; font-family: 'Zeyada', cursive; font-size: 2.5em;">MoneyPro</strong> is a money tracker that allows users to report all their income, which is equally distributed among Seven Trusts that cover all areas of their lives. </p>

<p class="mp-htw-p"> The app processes the income using the 70-30 principle.</p>

<p class="mp-htw-p"> If the user receives $12,500. MoneyPro takes 70%, amounting to $8,750 and equally pays off at 1/4 each four trusts which fund Necessities, Bills, Enrichment and Daily Whims at $2,187.50. </p>

<p class="mp-htw-p"> The remaining 30%, amounting to $3,750 is equally distributed in 1/3 amounts of $1,250 to trusts that fund Long Term Investments, Capital+Philanthropy and Savings+Security.</p>


<p class="mp-htw-p"><strong style="color:#9C3E97; font-family: 'Zeyada', cursive; font-size: 2.0em;"> MoneyPro</strong> allows users to report income, track spending which are reflected in the Trust, when the change is adjusted and recorded to keep a history of transactions. This allows users to remain accountable for their spending, interact with their money to build a positive relationship becoming financially confident and competent.</p>

<p class="mp-htw-p"><strong style="color:#9C3E97; font-family: 'Zeyada', cursive; font-size: 2.0em;"> MoneyPro</strong> ensures all areas of life benefit by being covered at all times. Allowing peace of mind, security and enjoyment of life.</p>

</div>
