<% provide(:title, "Home") %>
<div class="home-container">
<div class="infinte-scrolling">
	<%= link_to image_tag("moneyproOne.png", :id => 'homeIcon' ), root_url %>
	<p class="signupbttn" id="signup_bttn"> Use App</p>

<div class="home-page-slider">

	<div class="home-pg" id="img-zero">
			<h2 class="home-pg-header"> Personal Financial Tracker </h2>
				<p class="home-pg-parag"> Money Pro is an app that allows you to track your monetary worth and practice  the best financial habits, which ensure a lifetime of monetary responsibility, security, success and abundance. </p>
			<%= image_tag("moneyproIcon-01.png", :class => "home-img") %>

	</div>


	<div class="home-pg" id="img-one">
		<h2 class="home-pg-header"> Your Personal Money Manager </h2>
		<p class="home-pg-parag"> Track your spending, manage your money and adopt a better attitude towards money which instills the best financial habits for financial wellbeing, confidence and success. </p>
		<%= image_tag("moneyproPrin.png", :class => "home-img") %>
	</div>

	<div class="home-pg" id="img-two">
		<%= image_tag("moneyprohomepgTwo-01.png", :class => "home-img-two") %>
		<h2 class="home-pg-header"> Track Your Total Income </h2>
		<p class="home-pg-parag"> Divides your income into 7 Trusts which provide funds for all your needs, ensuring all your needs are met including those daily Lattes. </p>
		
	</div>

	<div class="home-pg" id="img-three">
		<%= image_tag("moneyproReport-01.png", :class => "home-img-three") %>
		<h2 class="home-pg-header"> Report Your Daily Transactions </h2>
		<p class="home-pg-parag"> Enter every transaction made, keeping the total amount up to date and collect data that creates a profile of the types of transactions, their dates and how the money was spent. </p>
	</div>

	<div class="home-pg" id="img-four">
				<%= image_tag("moneyproHistory-01.png", :class => "home-img-four") %>
		<h2 class="home-pg-header"> View Your Transaction History </h2>
		<p class="home-pg-parag"> A snapshot of all your past transactions, which amount to a spending profile that shows data of how to save and invest your money. This data helps you understand your relationship with money which creates financial responsibility and confidence. </p>
	</div>

</div>
	

<div class="link-content" id="blueberry">
	<%= render 'pages/blue' %>
</div>

<div class="link-content" id="work">
	<%= render 'pages/work' %>
</div>


<div class="link-content" id="Sign">
	<%= render 'users/signup' %>
</div>


<div class="link-content" id="Log">
	<%= render 'sessions/login' %>
</div>


<div id="footer-links">
	<p class="footer-link" id="blue"> BlueBerry Pie </p>
	<p class="footer-link" id="how"> How it Works </p>
	<p class="footer-link" id="up"> SignUp </p>
	<p class="footer-link" id="in"> Log In </p>
</div>
</div>
</div>
