<% @my_investLogs = InvestmentLog.where(user_id: current_user.id) %>
<% @i = @my_investLogs.first %>
<% @my_investLogs.each do |i| %>
<div class= "past_balances">
	<p class= "reported_trans"> Previous Balance - $ <%= @i.updated_balance %></p>
	<p class="reported_trans"> Date Posted - <%= i.date_posted.strftime("%b %d, %Y") %> </p>
	<p class="reported_trans"> Amount Spent -$ <%= i.amount_spent %></p>
	<p class="reported_trans"> Type of Purchase - <%= i.type_of_spending %></p>
	<p class="reported_trans"> Balance -$ <%= i.updated_balance %></p>
</div>
<% @i = i %>
<% end %>
