<% @my_wLogs = WhimLog.where(user_id: current_user.id) %>
<% @w = @my_wLogs .first %>
<% @my_wLogs.each do |w| %>
<div class= "past_balances">
	<p class= "reported_trans"> Previous Balance - $ <%= @w.updated_balance %></p>
	<p class="reported_trans"> Date Posted - <%= w.date_posted.strftime("%b %d, %Y") %> </p>
	<p class="reported_trans"> Amount Spent -$ <%= w.amount_spent %></p>
	<p class="reported_trans"> Type of Purchase - <%= w.type_of_spending %></p>
	<p class="reported_trans"> Balance -$ <%= w.updated_balance %></p>
</div>
<% @w = w %>

<% end %>