<h1 class="trust_header"> Security+Savings Trust </h1>
<div class="desc">
	<p class="trust_des"> Description </p>
	<p style="color:#0D6F7A ;"> Funds your life liquidity. <br>
	 This fund ensures all unforeseen expenses are covered. <br>
	 Such expenses include health emergencies, fires, major car accidents<br>
	 This fund can be used to secure children's college funds and pet care<br>
	 in case.
	</p>
</div>	
<% @my_security = Security.where(user_id: current_user.id) %>
<% if @my_security.empty? %>
<div class="c_b">
<h3 class="curr_bal"> Current Funds Available for Savings and Securities </h3>
<h1 class="curr_b">Please Update your Balance to Add Funds </h1>
</div>

<div class="past_b">
<h4 class="past_bal"> Past Balances </h4>

</div>

<% else %>
<div class="c_b">
<h3 class="curr_bal"> Current Funds Available for Savings and Securities </h3>
<h1 class="curr_b"> $ <%= @my_security.last.available_balance  %> </h1>
</div>


<div class="past_b">
<h4 class="past_bal"> Past Balances </h4>
<div class="past_holder">
<% @my_security.each do |security| %>
	<div class="past_balances">
		<p class="p_b"><%= security.created_at.strftime("%b %d, %Y") %></p>
		<p class="p_b p_b_amt">$ <%= security.available_balance %></p>
	</div>
<% end %>
</div>
</div>
<% end %>
