<h4 class="form-header"> REPORT TRANSACTION </h4>
<%= form_for(:security_log, url: report_savings_transaction_path) do |f| %>

      <label>
		<%= f.text_field :amount_spent,:required => true %> 
		<div class="label-text" > Amount Spent </div>
	  </label>

	  <label>
		<%= f.select :type_of_spending, ['Health', 'Transport', 'Home', 'Other' 
		 ], :class => "select_spending" %>
	  </label>

	   <%= f.submit "Save" %>


<% end %>