<% @my_necLogs = NecessityLog.where(user_id: current_user.id) %>
<% @n = @my_necLogs.first %>
<% @my_necLogs.each do |n| %>
<div class= "past_balances">
	<p class= "reported_trans"> Previous Balance - $ <%= @n.updated_balance %></p>
	<p class="reported_trans"> Date Posted - <%= n.date_posted.strftime("%b %d, %Y") %> </p>
	<p class="reported_trans"> Amount Spent - $ <%= n.amount_spent %></p>
	<p class="reported_trans"> Type of Purchase - <%= n.type_of_spending %></p>
	<p class="reported_trans"> Balance - $ <%= n.updated_balance %></p>
</div>
<% @n = n %>
<% end %>