<h4 class="form-header"> REPORT TRANSACTION </h4>
<%= form_for(:whim, url: report_whims_transaction_path) do |f| %>

      <label>
		<%= f.text_field :amount_spent,:required => true %> 
		<div class="label-text" > Amount Spent </div>
	  </label>

	  <label>
		<%= f.select :type_of_spending, ['Latte', 'Gift', 'Covered a Trust', 'Miscellenous Expense' 
		 ] %>
	  </label>

	   <%= f.submit "Save" %>


<% end %>