
<h1 class="trust_header"> Daily Whims Trust </h1>
<div class="desc">
	<p class="trust_des"> Description </p>
	<p style="color:#0D6F7A ;"> Funds any expenses that provide an enjoyabable experience<br>
	or a treat. These are new games, lattes, gifts, tickets. <br>
	 This trust can be used to cover expenses in other trusts. <br>
	  </p>
</div>	
<% @my_whim = Whim.where(user_id: current_user.id) %>
<% if @my_whim.empty? %>
<div class="c_b">
<h3 class="curr_bal"> Funds Available for Daily Whims </h3>
<h1 class="curr_b">Please Update your Balance to Add Funds </h1>
</div>


<div class="past_b">
<h4 class="past_bal"> Past Balances </h4>

</div>


<% else %>
<div class="c_b">
<h3 class="curr_bal"> Funds Available for Daily Whims </h3>
<h1 class="curr_b">$ <%= @my_whim.last.available_balance  %> </h1>
</div>


<div class="past_b">
<h4 class="past_bal"> Past Balances </h4>
<div class="past_holder">
<% @my_whim.each do |whim| %>
	<div class="past_balances">
		<p class="p_b"><%= whim.created_at.strftime("%b %d, %Y") %></p>
		<p class="p_b p_b_amt"> $ <%= whim.available_balance %></p>
	</div>
<% end %>
</div>
</div>
<% end %>

