<h1 class="trust_header"> Philantropy Trust </h1>
<div class="desc">
	<p class="trust_des"> Description </p>
	<p style="color:#0D6F7A ;"> Funds any philanthropic efforts that benefit<br>
	 areas you are passionate about and would like to see succeed.<br>
	 This fund can also be used to provide capital for investments that <br>
	 provide monthly returns such as business partnerships, restaurants partnerships,<br>
	 real estate or any ventures that provide monthly returns. 
	</p>
</div>	
<% @my_cap = Philanthropy.where(user_id: current_user.id) %>
<% if @my_cap.empty? %>
<div class="c_b">
<h3 class="curr_bal"> Current Funds Available For Philanthropy </h3>
<h1 class="curr_b">Please Update Your Balance to Add Funds</h1>
</div>

<div class="past_b">
<h4 class="past_bal"> Past Balances </h4>

</div>


<% else %>
<div class="c_b">
<h3 class="curr_bal"> Current Funds Available For Philanthropy </h3>
<h1 class="curr_b">$ <%= @my_cap.last.available_balance  %> </h1>
</div>


<div class="past_b">
<h4 class="past_bal"> Past Balances </h4>
<div class="past_holder">
<% @my_cap.each do |cap| %>
	<div class="past_balances">
		<p class="p_b"><%= cap.created_at.strftime("%b %d, %Y") %></p>
		<p class="p_b p_b_amt">$ <%=  cap.available_balance %></p>
	</div>
<% end %>
</div>
</div>
<% end %>
