<h4 class="form-header"> REPORT TRANSACTION </h4>
<%= form_for(:philanthropy_log, url: report_cap_transaction_path) do |f| %>

      <label>
		<%= f.text_field :amount_spent,:required => true %> 
		<div class="label-text" > Amount Spent </div>
	  </label>

	  <label>
		<%= f.select :type_of_spending, ['Arts Patron', 'Museum Patron', 'Donation', 'Children Hospital Patron', 'Environment', 'Animals', 'Marine Life', 'Initial Public Offering', 'Venture Capital', 'Foregin Emerging Markets', 'High Yield Bonds', 'Real Estate', 'Other' 
		 ], :class => "select_spending"  %>
	  </label>

	   <%= f.submit "Save" %>


<% end %>