<% @my_sLogs = SecurityLog.where(user_id: current_user.id) %>
<% @s = @my_sLogs.first %>
<% @my_sLogs.each do |s| %>
	<div class= "past_balances">
		<p class= "reported_trans"> Previous Balance - $ <%= @s.updated_balance %></p>
		<p class="reported_trans"> Date Posted - <%= s.date_posted.strftime("%b %d, %Y") %> </p>
		<p class="reported_trans"> Amount Spent - $ <%= s.amount_spent %></p>
		<p class="reported_trans"> Type of Purchase - <%= s.type_of_spending %></p>
		<p class="reported_trans">  Balance - $ <%= s.updated_balance %></p>
	</div>
<% @s = s %>
<% end %>
