// Place all the styles related to the Curators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width: 2560px) {
	#all_users, #all_fa{
		width: 98%;
		height: 350px;
		overflow: auto;
		position: fixed;
		top: 5%;
	}

	#all_fa{
		top: 55%;
		height: 350px;
	}

	textarea{
		width: 35%;
    	height: 250px;
    	padding: 12px 20px;
    	box-sizing: border-box;
    	background-color: #fff;
    	font-size: 16px;
    	border-radius: 5px;
    	resize: none;
    	outline: none;
    	border: none;
    	pointer: cursor;
	}
	.curator_parag{
		color: #9C3E97;
	}

	.show_all_users{
		display: inline-block;
		padding: 15px;
		width: 100px;
		height: 100px;
		margin: 15px;
	}

	.fa_curator{
		background-color: rgba(242, 249, 253, 0.85);
		width: 450px;
		height: 150px;
		overflow: auto;
		border-radius: 5px;
		display: inline-block;
		padding: 10px 25px;
		margin: 15px;
	}
}

@media screen and (max-width: 1242px) {

}