// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width: 2560px) {
	body{
		font-family: 'Krub', sans-serif;
    background-color: #f2f9fd;
    #background-image: linear-gradient( -45deg, #f2f9fd, #559BA8 );
	}

	#footer-links{
		position: fixed;
		bottom: 0;
		left: 0;
    right:0;
		height: 70px;
		background-color: #0D6F7A;
		width: 100%;
    box-shadow: 20px 0px 8px 0 rgba(0, 0, 0, 0.2), 20 0px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.footer-link{
		display: inline;
		cursor: pointer;
		color: #559BA8;
		padding-left: 100px;
		padding-right: 250px;
		font-family: 'PT Sans', sans-serif;
		letter-spacing: 1px;
	}

	#how, #in{
		position: relative;
		bottom: -45px;
	}

	.link-content{
		display: none;
	}

	#default{
		display: block;
	}

		label{
		display: block;
		padding-top: 20px;
		text-align: center;
		letter-spacing: 4px;
	}
	


	label .label-text{
		font-size: 12px;
		line-height: 15px;
  		-moz-transform: translateY(-32px);
  		-ms-transform: translateY(-32px);
  		-webkit-transform: translateY(-32px);
  		transform: translateY(-32px);
  		transition: all 0.3s; 
	}

	input[type=text], input[type=email], input[type=password], input[type=date], input[type=time] {
		background-color: transparent;
    	border: 0;
    	border-bottom: 2px solid #A08E97;
    	color: #A08E97;
    	font-size: 18px;
    	letter-spacing: -1px;
    	outline: 0;
    	padding: 5px 20px;
    	text-align: center;
    	transition: all 0.3s;
    	max-width: 100%;
    	#font-family: 'Monda', sans-serif;
    	letter-spacing: 3px;
    	font-size: 0.95em;
	}

	input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=date]:focus, input[type=time]:focus{
  		width: 250px;
	}


	label input[type=text]:focus + div.label-text, label input[type=email]:focus + div.label-text,  label input[type=password]:focus + div.label-text, label input[type=date]:focus + div.label-text, label input[type=time]:focus + div.label-text{
		color: #9C3E97;
  		font-size: 13px;
  		-moz-transform: translateY(-64px);
  		-ms-transform: translateY(-64px);
  		-webkit-transform: translateY(-64px);
  		transform: translateY(-64px);
		
	}



	label input[type=text]:valid + div.label-text, label input[type=email]:valid + div.label-text, label input[type=password]:valid + div.label-text, label input[type=date]:valid + div.label-text, label input[type=time]:valid + div.label-text {
  		font-size: 12px;
  		-moz-transform: translateY(-64px);
  		-ms-transform: translateY(-64px);
  		-webkit-transform: translateY(-64px);
  		transform: translateY(-64px);
	}


	input[type=submit]{
		background-color: #0D6F7A;
		color: #EFE8EE;
		border-radius: 5px ;
		padding: 15px 30px;
		#border: 2px solid rgba( 0, 188, 212, 1);
		text-align: center;
		text-decoration: none;
		font-size: 18px;
		margin-top: 10px;
		cursor: pointer;
		transition: all 200ms;
		font-family: 'Zeyada', cursive;
		position: absolute;
		left: 45%;
	}

	input[type=submit]:hover, input[type=submit]:focus {
  		#background-color: rgba( 16, 173, 181, 0.75);
  		#letter-spacing: 4px;
  		outline: 0;
  		color: #F0F9FD;
	    background-color: #9C3E97;
  }

	.form-header{
		text-align: center;
		color: #0D6F7A;
	}

	.StripeElement {
      height: 15px;
      background-color: transparent;
      border: 0;
      #border-bottom: 2px solid rgba( 0, 188, 212, 0.75);
      color: #A08E97;
      font-size: 18px;
      letter-spacing: -1px;
      outline: 0;
      padding: 15px 20px;
      text-align: center;
      transition: all 0.3s;
      max-width: 25%;
      margin-top: 10px;
      font-family: 'Monda', sans-serif;
      letter-spacing: 3px;
      font-size: 0.95em;
      position: relative;
      left: 38%;

}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.alert-danger, .alert-error{
		background-color: #ff000017;
    	z-index: 50;
    	color: red;
    	position: fixed;
    	top: 15px;
    	padding: 14px;
    	border-radius: 5px;
    	width: 100%;
    	left: 0;
    	text-align: center;
	}

	.alert-success{
		background-color:#ff00e02e;
    	z-index: 50;
    	color: #b462b5;
    	position: fixed;
    	top: 15px;
    	padding: 14px;
    	border-radius: 5px;
    	width: 100%;
    	left: 0;
    	text-align: center;
	}

    .alert-info{
        background-color:#00ff082e;
        z-index: 50;
        color: #4caf50;
        position: fixed;
        top: 15px;
        padding: 14px;
        border-radius: 5px;
        width: 100%;
        left: 0;
        text-align: center;
    }
    #forgot{
    	margin: auto;
    	width: 10%;
    }

    #forgot a{

    	padding: 14px 16px;
    	text-decoration: none;
    	text-align: center;
    	color: #9C3E97;
    }

    #work, #blueberry{
      width: 40%;
      margin: auto;
    }

    #htw-col{
      column-count: 2;
      column-gap: 35px;
      padding-top: 100px;
      font-size: 0.95em;
      color: #A08E97;
    }

    #blue-p-header{
      color: #9C3E97;
    }

    #blue-col{
      height: 575px;
      width: 65%;
      margin: auto;
      padding-top: 55px;
      color: #A08E97;
      font-size: 0.95em;
      overflow: auto;
     
    }

    ::-webkit-scrollbar{
      width: 5px;
    }

    .updated_balance_div{
      height: 60%;
      margin-top: 25px;
    }

    .reported-p{
      color: #0D6F7A;
      display: inline;
      padding-left: 150px;
    }

    .curr_bal, .past_bal, .trust_header{
      color: #C64427;
      padding-left: 25px;
    }

    .curr_b{
      color: #0D6F7A;
      font-size: 1.3em;
      padding-left: 95px;
    }

    .past_b{
      position: fixed;
      top: 45%; 

    }

    .past_holder{
            position: fixed;
      top: 50%; 
      width: 70%;
      height: 250px;
      overflow: auto;
      margin-left: 25px;
    }

    .c_b{
      position: fixed;
      top: 20%;
    }
    .desc{
      position: fixed;
      height: 175px;
      width: 550px;
      right: 10%;
      margin-right: 55px;
    }
    .past_balances{
      display: inline-block;
      margin-left: 25px;
    }

    .p_b, .trust_des{
      color: #0D6F7A;
    }
    .p_b_amt{
      padding-left: 45px;
    }
    #hiw_img{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

  #mp_summary{
      position: fixed;
      left: 45%;
      top: 250px;
      color: #A08E97;
  }

  #thirty_summary{
    position: fixed;
    left: 70%;
    top: 200px;
    color: #A08E97;
  }

  #seven_summary{
    position: fixed;
    left: 12%;
    top: 200px;
    color: #A08E97;
  }

  #htw-p-header, #signup_bttn{
    color: #C64427;
  }

  #signup_bttn{
    position: fixed;
    top: 0px;
    cursor: pointer;
    right: 15px;
    padding: 25px;
    border: 2px solid;
    border-radius: 10px;
  }

  #play_orientation{
   color: #A08E97;
   padding: 15px;
  }

  .home-page-slider{
    margin: 0 auto;
    width: 70%;
    height: 550px;
    overflow-x: auto;
    display: flex;
    -webkit-overflow-scrolling: touch;
    -webkit-scroll-snap-points-x: repeat(300px);
    -ms-scroll-snap-points-x: repeat(300px);
    scroll-snap-points-x: repeat(300px);

    -webkit-scroll-snap-type: mandatory;
    -ms-scroll-snap-type: mandatory;
    scroll-snap-type: mandatory;

    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
  }

  .home-page-slider::-webkit-scrollbar{
    width: 10px;
    height: 10px;
  }

  .home-page-slider::-webkit-thumb{
    background: black;
    border-radius: 10px;
  }

  .home-page-slider::-webkit-track{
    background: transparent;
  }

  .home-pg{
    width: 90%;
    height: 550px;
    flex-shrink: 0;

  }

  .home-img, .home-img-two, .home-img-three, .home-img-four{
      display: block;
      margin-left: auto;
      margin-right: auto;
  }


  .home-pg-parag{
    width: 55%; 
    margin-left:auto;
    margin-right: auto;
    /* color: #9FA2A1; */
    color: #A08E97; 
  }

  .home-pg-header{
    text-align: center;
    color: #0D6F7A;
  }

  .pointers{
    position: fixed;
    top: 350px;
    width: 40%;
    left: 27%;
  }

  .arrow-left{
    width: 50px;
    float: left;
    cursor: pointer;
  }

  .arrow-right{
    width: 10px;
    float: right;
    cursor: pointer;
  }

}

@media screen and (max-width: 1242px) {
   
   .home-page-slider{
    margin: 0 auto;
    width: 85%;
    height: 650px;
    overflow: auto;

  }

    .pointers{
    position: fixed;
    top: 350px;
    width: 65%;
    left: 13%;
  }


	.footer-link{
		display: inline;
		cursor: pointer;
		color: #559BA8;
		padding-left: 10px;
		padding-right: 5px;
		font-family: 'PT Sans', sans-serif;
		letter-spacing: 1px;

	}

  .h_content{
    border: 2px soild red;
    height: 350px;
    width: 250px;
  }

	input[type=submit]{
		left: 35%;
	}



    #work, #blueberry{
      width: 65%;
      margin: auto;
    }

  .StripeElement {
      height: 15px;
      background-color: transparent;
      border: 0;
      #border-bottom: 2px solid rgba( 0, 188, 212, 0.75);
      color: rgba( 0, 188, 212, 1);
      font-size: 18px;
      letter-spacing: -1px;
      outline: 0;
      padding: 15px 20px;
      text-align: center;
      transition: all 0.3s;
      max-width: 75%;
      margin-top: 10px;
      font-family: 'Monda', sans-serif;
      letter-spacing: 3px;
      font-size: 0.95em;
      position: relative;
      left: 8%;

}




#seven_summary,   #thirty_summary,  #mp_summary {
position: unset;
     
}

.h_content{
  width: 2912px;
  -webkit-animation: home_items 18s ease infinite;
}

.home_items{
  float: left;
  height: 560px;
  width: 758px;
}

@-webkit-keyframes home_items{
  20% {margin-left: 0px; opacity: 1}
  30% {margin-left: -728px; opacity: 1}
  50% {margin-left: -728px; opacity: 1}
  60% {margin-left: -1520px; opacity: 1}
  70% {margin-left: -1520px; opacity: 1}
  80% {margin-left: -1556px; opacity: 0;}
  90% {margin-left: 0; opacity: 0;}
}


#mp, #home_seven{
  padding: 35px;
  padding-left: 85px;
}


#home_seven{
    padding-left: 95px;
}

#home_thirty{
  padding-left: 125px;
}

#blueberry{
  width: 550px;
  height: 650px;
  overflow: auto;
  font-size: 0.85em;
}

 #htw-col{
     column-count: 2;
      column-gap: 15px;
      padding-top: 50px;
      font-size: 0.85em;

 }


    .past_holder{
            position: fixed;
      top: 50%; 
      width: 70%;
      height: 250px;
      overflow: auto;
      margin-left: 25px;
    }

    .c_b{
      position: fixed;
      top: 20%;
    }
    .desc{
      position: fixed;
      height: 175px;
      width: 450px;
      left: 60%;
      top: 100px; 
    }
    .past_balances{
      display: inline-block;
      margin-left: 25px;
    }
    
    .past_balances{
      display: inline-block;
      margin-left: 25px;
      font-size: 0.85em;
    }



}