// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width: 2560px) {
	#dash-options{
		width: 300px;
		background-color: #0D6F7A;
		position: fixed;
		z-index: 5;
		left: 0;
		top: 0;
		height: 100%;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}


	#dash-content{
		background-color: #EDE9EB;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
	}


	.dash-links{
		cursor: pointer;
		color: #559BA8;
		padding: 10px;
		padding-bottom: 20px;
		text-align: center;
	}

	#logout{
		position: fixed;
		left: 120px;
	}

	#logout-p{
		position: fixed;
		bottom: 0px;
		font-size: 0.65em;
		padding-bottom: 0px;
		left: 115px;
	}

	.views, .view-report, .view-balance, .viewd {
		position: fixed;
		left: 305px;
		width: 83.5%;
		height: 100%;
		top: 15px;
		display: none;
		overflow: auto;
	
	}

	#htw-view, #nec-view, #bills-view, #enrich-view, #daily-view, #long-view, #philan-view, #savings-view{
		height: 85%;
		width: 75%;
		position: fixed;
		left: 285px;
		top: 50px;
		border-radius: 10px;
		background-color: #dbf3ff73;
		box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	#expandh, #expandn, #expandb, #expande, #expandd, #expandl, #expands, #expandp{
		position: fixed;
		left: 320px;
		top: 100px;
		z-index: 10;
		display: none;
		cursor: pointer;
	}

	#bUpdate, #rTransactions{
		position: fixed;
		right: 5px;
		top: 0px;
		color: #C64427;
		font-size: 0.85em;
		cursor: pointer;
		z-index: 10;
		font-weight: bold;
	}

	#rTransactions{
		top: 25px;
	}

	.popUpOpt{
		display: none;
	}

	.default{
		display: block;
		width: 100%;
	}


	#necess_available{
		position: fixed;
		right: 15%;
		top: 10%;
	}

	#bill_available{
		position: fixed;
		right: 25%;
		top: 25%;
	}

	#enrich_available{
		position: fixed;
		left: 55%;
		top: 35%;
	}

	#daily_available{
		position: fixed;
		left: 35%;
		top: 35%;
	}

	#thirty_trust{
		position: fixed;
		bottom: 10px;
	}

	#lt_available{
		position: fixed;
		left: 35%;
		bottom: 235px;
	}

	#phil_available{
		position: fixed;
		left: 40%;
		bottom: 135px;
	}

	#save_available{
		position: fixed;
		right: 30%;
		bottom: 135px;
	}

	#seventy{
		position: fixed;
		left: 38%;
		top: 80px;
	}

	#thirty{
		position: fixed;
		right: 22%;
		bottom: 235px;
	}

	#line{
		position: fixed;
		bottom: 430px;
		left: 28%;
		width: 65%;
		color: #9E8F8F;
	}

	.avail_bal{
		padding: 10px 25px;
		background-color: #EEF8FD;
		border-radius: 5px;
		cursor: pointer;
	}

	#navail{
		color: #9C3E97;
	}

		#bavail{
		color: #0D6F7A;
	}

		#eavail{
		color: #C64427;
	}

		#davail{
		color: #DEB026;
	}

		#ltavail{
		color: #C64427;
	}

		#phavail{
		color: #9C3E97;
	}

		#savail{
		color: #DEB026;
	}

	.header_curr{
		color: #C64427; 
	}

	.report-holder{
		width: 99%;
		margin-top: 45px;
		height: 250px;
		background-color: rgba(255, 255, 255, 0.85);
	}
	.report-screen{
		overflow: auto;
		height: 180px;
		margin-top: 25px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.update-holder{
		width: 95%;
		margin-top: 60px;
		margin-left: 40px;
		height: 450px;
		background-color: rgba(255, 255, 255, 0.85);


	}

	.past-holder{
		width: 95%;
		margin-top: 60px;
		margin-left: 40px;
		height: 250px;
		background-color: rgba(255, 255, 255, 0.85);
		overflow: auto;

	}

	.udapte-header{
		background-color: #EFC0BC;
		text-align: center;
		color: white;
		padding: 10px;
		padding-top: 15px;
	}

	.past-header{
		text-align: center;
		color: white;
		padding: 10px;
		padding-top: 15px;
	}

	.report-header{
		color: #B7B7B7;
		padding-left: 10px;
	}

	#Log, #Sign{
		margin-top: 150px;
	}

	#reported-header{
		background-color: #AAA2A7;
		width: 100%;
		height: 55px;
		margin-top: -21px;

	}
	#hiw-explanation{
		width: 300px;
		height: 250px;
		position: fixed;
		left: 41%;
		top: 54%;
		overflow: auto;

	}
	#hiw-calculate{
		position: fixed;
		right: 18%;
		top: 10%;
	}
	#hiw-calculate-thirty{
		position: fixed;
		left: 30%;
		top: 45%;
	}

	.update_trust_amt{
		width: 350px;
		height: 330px;
		background-color: rgba(255, 255, 255, 0.75);
		position: fixed;
		left: 45%;
		top: 25%;

		display: none;

	}

	.up_trust_header{
		background-color: #EFC0BC;
		color: white;
		text-align: center;
		padding: 5px 25px;
				padding-top: 21px;
		margin-top: 0;

	}
	button{
		background-color: #A08E97; 
    	border: none;
    	color: white;
    	padding: 15px 32px;
    	text-align: center;
    	text-decoration: none;
    	margin: 4px 2px;
    	cursor: pointer;
    	position: relative;
    	bottom: -65px;
	}

	.close-img{
		z-index: 35;
		position: fixed;
		top: 55px;
		right: 11%;
		transform: rotate(180deg);
		display: none;
	}

	.detailed_spending{
		width: 75%;
		height: 750px;
		#border: 2px solid red;
		margin-left: 350px;
		margin-top: 55px;
		overflow: auto;
		display: none;
	}
	.reported_trans{
		color: #C64427;
	}

	#fa_avatar{
		position: fixed;
		bottom: 5px;
		right: 10px;
		cursor: pointer;
		z-index: 5;
	}

	.fa_box{
		width: 350px;
		height: 100px;
		background-color: rgba(242, 249, 253, 0.85);
		position: fixed;
		bottom: 15px;
		right: 8%;
		border-radius: 5px;
		z-index: 5;
		display: none;

	}

	.orientation{
		width: 550px;
		height: 150px;
		background-color: rgba(242, 249, 253, 0.85);
		position: fixed;
		top: 2%;
		left: 40%;
		border-radius: 5px;
		z-index: 20;
		display: none;
	}

	#overlay{
	position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(213,235,239,0.53); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
	}

	#close_fa{
		width: 30px;
		height:30px;
		background-color: #C7D0D3;
		border-radius: 50px;
		position: fixed;
		right: 7.5%;
		bottom: 100px;
		cursor: pointer;
	}
	#orient{
		cursor: pointer;
	}

	#dash{
		position: fixed;
		left: 40%;
		top: 45%;
	}

	#funds{
		position: fixed;
		top: 15%;
		left: 25%;
	}

	.tooltip{
	position: relative;
	display: inline-block;
	z-index: 10;
	}

	.tooltip .tooltiptext{
		
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
	}


.play-orientation{
	display: inline-block;

  -webkit-animation: play_orientation 2s ease infinite;
  -web-kit-animation-delay: 5s;
}



@-webkit-keyframes play_orientation{
  0%{ opacity: 0;}
  50% {opacity: 1;}
  100%{opacity: 0;}
}



}

@media screen and (max-width: 1242px) {
	#dash-options{
		width: 250px;
		background-color: #0D6F7A;
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.views{
		position: fixed;
		left: 255px;
		width: 75%;
		height: 98%;
		top: 15px;
	}


	#expandh, #expandn, #expandb, #expande, #expandd, #expandl, #expands, #expandp{
		position: fixed;
		left: 250px;
		top: 100px;
		z-index: 10;
		display: none;
		cursor: pointer;
	}

		#htw-view, #nec-view, #bills-view, #enrich-view, #daily-view, #long-view, #philan-view, #savings-view{
		height: 85%;
		width: 75%;
		position: fixed;
		left: 250px;
		top: 50px;
		border-radius: 10px;
		background-color: #dbf3ff73;
		box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	#necess_available{
		position: fixed;
		right: 5%;
		top: 10%;
	}

	#bill_available{
		position: fixed;
		right: 10%;
		top: 20%;
	}

	#enrich_available{
		position: fixed;
		left: 65%;
		top: 35%;
	}

	#daily_available{
		position: fixed;
		left: 35%;
		top: 35%;
	}

	#thirty_trust{
		position: fixed;
		bottom: 10px;
	}

	#lt_available{
		position: fixed;
		left: 35%;
		bottom: 235px;
	}

	#phil_available{
		position: fixed;
		left: 40%;
		bottom: 135px;
	}

	#save_available{
		position: fixed;
		right: 10%;
		bottom: 135px;
	}

	#seventy{
		position: fixed;
		left: 38%;
		top: 125px;
	}

	#thirty{
		position: fixed;
		right: 10%;
		bottom: 235px;
	}

	#line{
		position: fixed;
		bottom: 430px;
		left: 28%;
		width: 65%;
		color: #9E8F8F;
	}

	.avail_bal{
		padding: 10px 25px;
		background-color: #EEF8FD;
		border-radius: 5px;
		cursor: pointer;
	}

	.desc{
		font-size: 0.75em;
	}

		.fa_box{
		width: 350px;
		height: 100px;
		background-color: rgba(242, 249, 253, 0.85);
		position: fixed;
		bottom: 15px;
		right: 12%;
		border-radius: 5px;
		z-index: 5;
		display: none;

	}

}