<h1 class="trust_header"> Necessities Trust </h1>
<div class="desc">
	<p class="trust_des"> Description </p>
	<p style="color:#0D6F7A ;"> Any expenditure that allows you to carry<br>
	out your day-to-day activities, ensuring and enhancing<br>
	 yours and your family's personal daily wellbeing <br>
	 qualifies as a Necessity.<br>
	 Examples include groceries, gas, clothes, personal items,<br>
	 pet food.
	  </p>
</div>	
<% @my_nec = Necessity.where(user_id: current_user.id) %>
<% if @my_nec.empty? %>

<div class="c_b">
<h3 class="curr_bal"> Current Funds Available for Necessities </h3>
<h1 class="curr_b">  Please Update your Balance add funds </h1>
</div>

<div class="past_b">
<h4 class="past_bal"> Past Balances </h4>

</div>


<% else %>
<div class="c_b">
<h3 class="curr_bal"> Current Funds Available for Necessities </h3>
<h1 class="curr_b">$ <%= @my_nec.last.available_balance  %> </h1>
</div>

<div class="past_b">
<h4 class="past_bal"> Past Balances </h4>
<div class="past_holder">
<% @my_nec.each do |nec| %>
	<div class="past_balances">
		<p class="p_b"><%= nec.created_at.strftime("%b %d, %Y") %></p>
		<p class="p_b p_b_amt">$ <%= nec.available_balance %></p>
	</div>
<% end %>
</div>
</div>

<% end %>