<h4 class="form-header"> REPORT TRANSACTION </h4>
<%= form_for(:nec, url: report_necessities_transaction_path) do |f| %>

      <label>
		<%= f.text_field :amount_spent,:required => true %> 
		<div class="label-text" > Amount Spent </div>
	  </label>

	  <label>
		<%= f.select :type_of_spending, ['Groceries', 'Household Supplies', 'Clothes', 'Pet Food', 'Pet Toys', "Children's Toys", 'Fuel', 'Other' 
		 ], :class => "select_spending"  %>
	  </label>

	   <%= f.submit "Save" %>


<% end %>