<h1 class="trust_header"> Enrichment Trust </h1>
<div class="desc">
			<p class="trust_des"> Description </p>
	<p style="color:#0D6F7A ;">Funds activities that enrich your daily life<br>
	 such as travel, movies, vacation, parties, concerts. <br>
	  </p>
</div>	
<% @my_enrich = Enrichment.where(user_id: current_user.id) %>
<% if @my_enrich.empty? %>
<div class="c_b">
<h3 class="curr_bal"> Current Funds Available for Enrichment </h3>
<h1 class="curr_b">Please Update Your Balance to Add Funds </h1>
</div>

<div class="past_b">
<h4 class="past_bal"> Past Balances </h4>

</div>


<% else %>
<div class="c_b">
<h3 class="curr_bal"> Current Funds Available for Enrichment </h3>
<h1 class="curr_b">$ <%= @my_enrich.last.available_balance  %> </h1>
</div>

<div class="past_b">
<h4 class="past_bal"> Past Balances </h4>
<div class="past_holder">
<% @my_enrich.each do |enrich| %>
	<div class="past_balances">
		<p class="p_b"><%= enrich.created_at.strftime("%b %d, %Y") %></p>
		<p class="p_b p_b_amt">$ <%=  enrich.available_balance %></p>
	</div>
<% end %>
</div>
</div>
<% end %>
