<footer>
<nav>
<ul>
<li><%= link_to "BlueBerry Pie", "#" %> </li>
<li><%= link_to "How it Works", "#" %> </li>

<li><%= link_to "Sign Up", "#" %> </li>
<li><%= link_to "LogIn", "#" %> </li>
</ul>
</nav>
</footer>